.editor {
    position: relative;
    flex: 1;
}

.CodeMirror {
    position: absolute;
    inset: 0;
    height: auto;
    background: var(--editor-background-color);
    color: var(--editor-text-foreground-color);
    font-family: var(--editor-font-family);
    font-size: var(--editor-font-size);
    line-height: 1.4;
    caret-color: var(--editor-caret-foreground-color);
}

.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--editor-scrollbar-foreground-color) transparent;
}

.CodeMirror-crosshair {
    cursor: text;
}

.CodeMirror-cursor {
    border-left-color: var(--editor-caret-foreground-color);
}

.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
    color: var(--selection-foreground-color);
    background: var(--selection-background-color);
}

.CodeMirror-selected,
.CodeMirror-focused .CodeMirror-selected {
    background: var(--selection-background-color);
}

.CodeMirror-dialog {
    padding: var(--spacing-small) var(--spacing);
    background: var(--dropdown-background-color);
    color: var(--dropdown-button-foreground-color);
    border-bottom: 1px solid var(--dropdown-line-foreground-color);
    font-family: var(--font-family);
    font-size: 12px;
}

.CodeMirror-dialog input {
    color: var(--dropdown-button-foreground-color);
    font-family: var(--editor-font-family);
    font-size: var(--editor-font-size);
}

.CodeMirror-search-hint {
    color: var(--dropdown-button-disabled-foreground-color);
}
